





/* Classes Classes Classes Classes Classes */

html, body {
	height: 100%;
	background: #b0b0b0;
}

.btn_custom {
	float: right;
	margin: -40px 60px 0 0;
	position: relative;
}

.urna_right {
	background: url(../img/urna1.png) no-repeat;
	height: 400px;
}

.tela {
	background: url(../img/lcd.png) no-repeat;
	width: 360px;
	height: 310px;
	border-radius: 5px;
	margin: 70px 0 0 0;
}

.urna_left {
	background: url(../img/urna2.png) no-repeat;
	height: 400px;
}

.logo_votobem {
	padding: 8px 85px 0 85px;
}

.escolhas {
	background: linear-gradient(30deg,#808080,#adadad);
	width: 320px;
	height: 310px;
	border-radius: 5px;
	margin: 70px 0 0 15px;
}

.btn_escolhas {
	color: #fff;
	background: #696868;
	width: 250px;
	border: 1px solid #595656;
	margin: 15px 35px 0 35px;
	text-transform: uppercase;
}

.btn_escolhas:hover {
	color: #fff;
	background: #595656;
	outline: 0;
}

.btn_escolhas:focus {
	color: #fff;
	background: linear-gradient(#4d4949,#595656);
	outline: 0;
}

.btn_confirmar {
	width: 110px;
	background: #309a41;
	color: #000;
	margin: 25px 35px 0 0;
	border-bottom: 3px solid #21652c;
	border-right: 3px solid #21652c;
	float: right;
	text-transform: uppercase;
	font-weight: 600;
}

.btn_confirmar:hover {
	color: #000;
	background: #2a7f38;
}

.btn_confirmar:active {
	color: #000;
	background: #2a7f38;
	border: none;
	border-top: 3px solid #21652c;
	border-left: 3px solid #21652c;
	outline: 0;
}

.btn_confirmar:focus {
	outline: 0;
	color: #000;
}

.btn_voltar {
	width: 90px;
	background: #e83a1c;
	color: #000;
	border-bottom: 3px solid #af250d;
	border-right: 3px solid #af250d;
	margin: 25px 50px 0 0;
	float: right;
	text-transform: uppercase;
	font-weight: 600;
}

.btn_voltar:hover {
	color: #000;
	background: #bf360c;
}

.btn_voltar:active {
	color: #000;
	background: #bf360c;
	border: none;
	border-top: 3px solid #af250d;
	border-left: 3px solid #af250d;
	outline: 0;
}

.btn_voltar:focus {
	color: #000;
	outline: 0;
}

.modal_grafico {
	width: 900px;
	height: 550px;
	background: url(../img/grafico.png),
				#000;
	margin-left: -150px;
}

.btn_grafico {
	width: 120px;
	border-radius: 100px;
	border: 2px solid #000;
	background: transparent;
	color: #000;
	margin: 70px 0 0 30px;
	text-decoration: none;
}

.btn_grafico:hover {
	color: #000;
	background: #fff;
	transition: 0.5s;
}

.btn_grafico:visited {
	color: #000;
}

.video {
	padding: 5px;
}

.tit_result {
	color: #000;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0 0 0;
}

.text_result {
	color: #000;
	text-align: justify;
	padding: 0 30px;
}

.compartilhar {
	width: 200px;
	height: 90px;
	margin-top: 5px;
	margin-left: 30px;
}

.botao_tt {
	background: #4ab3f4;
	width: 260px;
	height: 35px;
	margin-top: 5px;
	font-weight: 900;
}

.botao_face {
	background: #4267b2;
	width: 260px;
	height: 35px;
	font-weight: 900;
}

/* TIPROGRAFIA TIPROGRAFIA TIPROGRAFIA TIPROGRAFIA TIPROGRAFIA */

#urna h4 {
	color: #000;
	text-align: center;
	padding: 120px 60px 0 60px;
}

#urna p {
	color: #000;
	float: right;
	padding: 100px 10px 0 0;
}

a:visited {
	color: #000;
}

.btn_margin {
	margin: 120px 0 0 30px;
}

.btn_margin1 {
	margin: 150px 0 0 30px;
}

.btn_margin2 {
	margin: 40px 0 0 30px;
}

ul {
	list-style-type:none;
}

.btn_sel {
	background: #e51b1b;
}

.btn_sel:hover {
	background: #c71a1a;
}

.btn_fun {
	width: 135px;
}